body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

.background-auth {
  background: url(/assets/img/bgnew.png);
  background-color: #EC9B3B;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 169px 70px 150px;
}

.text-content span {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.text-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.auth-from-wraper {
  padding: 150px;
}

.icon-login {
  background: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid gray;
}

.text {
  color: #EC9B3B;
}

.input-login {
  border: unset;
  border-bottom: 1px solid gray;
  border-radius: unset;
}

.input-login:focus {
  border-color: #EC9B3B;
  box-shadow: unset;
}

.button-login {
  background: #EC9B3B;
  border: unset;
  min-height: 57px;
}

.button-login:hover {
  background: #e0902e;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .background-auth {
    height: 10px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .bg-phone {
    display: none;
  }
}