body {
  margin: 0;
  padding: 0;
}

.background {
  background: url(/assets/img/bg-box.png);
}

nav {
  display: flex;
  justify-content: space-between;
}

.top-h1 {
  margin-left: 150px;
  margin-top: 55px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 29px;
  color: #FFFFFF;
}

.login {
  margin-right: 30px;
  box-sizing: border-box;
  width: 120px;
  height: 48px;
  background: #6379F4;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700px;
  font-size: 18px;
}

.signup {
  margin-right: 150px;
  margin-top: 55px;
  box-sizing: border-box;
  width: 120px;
  height: 48px;
  background: #FFFFFF;
  color: #6379F4;
  border: 2px solid #6379F4;
  border-radius: 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700px;
  font-size: 18px;
}

.topcontent-container {
  display: flex;
  justify-content: space-between;
  margin-right: 236px;
  margin-left: 150px;
}

.mini-container {
  display: flex;
}

.topcontent-text {
  margin-top: 100px;
  margin-right: 200px;
}

.topcontent-container h1 {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 60px;
  max-width: 474px;
  line-height: 93px;
  color: #FFFFFF;
}

.phone-image {
  margin-top: 70px;
  padding-left: 200px;
}

.topcontent-container h2 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  max-width: 428px;
  line-height: 31px;
  color: #FFFFFF;
  padding-top: 20px;
}

span {
  color: #6379F4;
}

.try-free {
  margin-top: 30px;
  height: 57px;
  width: 173px;
  border-radius: 12px;
  text-align: center;
  color: #6379F4;
  background: #FFFFFF;
  border: 2px solid #6379F4;
  font-family: 'Nunito Sans', sans-serif;
}

.mid-container {
  width: 1960px;
  height: 350px;
  background: rgba(71, 58, 209, 0.06);
}

.midcontent-container {
  padding-top: 150px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.main-container h1 {
  font-family: 'Nunito Sans';
  max-width: 639px;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3A3D42;
}

.main-container h2 {
  font-family: 'Nunito Sans';
  max-width: 567px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #3A3D42;
}


.cards h1 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 24px;
  color: #3A3D42;
}

.cards img {
  margin-top: 40px;
}

.cards h2 {
  max-width: 307px;
  max-height: 93px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(58, 61, 66, 0.9);
}

.card-one {
  margin-top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.card-two {
  margin-top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.card-three {
  margin-top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.features-container {
  margin-top: 100px;
  padding-bottom: 50px;
  width: 1960px;
  background: rgba(71, 58, 209, 0.06);
}

.features-content {
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
}

.text-features {
  margin-top: 80px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
}

.text-features h1 {
  font-family: 'Nunito Sans';
  max-width: 480px;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3A3D42;
}

h3 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #3A3D42
  }

.text-features h2 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.9);
}


.box-one {
  width: 620px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.box-two {
  width: 620px;
  margin-top: 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.box-three {
  width: 620px;
  margin-top: 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.testi-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-testi h1 {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3A3D42;
}

.text-testi h2 {
  margin-left: 665px;
  width: 567px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #3A3D42;
}

.testimonial {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.testi-one {
  background: #FFFFFF;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  width: 988px;
  height: 496px;
  padding-top: 30px;
}

.testi-one h1 {
  padding-top: 70px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #373C46
}

.testi-one h2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #676A71;
  width: 869px;
}

footer {
  margin-top: 100px;
  width: 1990px;
  height: 438px;
  background-color: #6379F4;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  padding-left: 200px;
  padding-top: 80px;
}

.footer-container h1 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
}

.footer-container h2 {
  font-family: 'Nunito Sans';
  max-width: 285px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(239, 239, 239, 0.75);
}

.footer-container hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 1440px;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright h4 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(239, 239, 239, 0.9);
}

.flex {
  margin-left: 800px;
}